#home-page{
    position: relative;
  height: fit-content;
  padding: 0 calc(3.5vw + 5px);
  display: block;
  overflow-x: hidden;
  background-color: black;
}

#title{
    display: flex;
    justify-content: center;
    font-size: 5vh;
    margin-top: 5vh;
}