/* <------------NAVBAR------------> */
#navbar{
    display: flex;
  min-height: 9vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}

#name{
    font-size: 6vh;
    margin-left: 2rem;
}

#links{
    display: flex;
    align-items: space-evenly;
     justify-content:space-between;
     flex-direction: row;
     flex-wrap: row wrap;
     flex-shrink: 0;
     /* margin-right: auto;
     margin-left: 70rem; */
}

#links li{
    list-style: none;
}



.nav-link{
        text-decoration: none;
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
}

#links span{
    color: #fff;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.08;
        padding: 0% 0.5rem;
        margin-top: 5px;
        position: relative;
}

@media screen and (min-width: 280px) and (max-width: 991px){
    #links{
        display: none;
    }
}